/*

FIRST STAGE OF DEVELOPMENT

VERDE: 336633
GIALLO: FFCC33
ROSSO: 993333
MARRONE: 663300
ARANCIONE: CC9933

VERDE: 1e6622
GIALLO: FFCC33	ffd97c
ROSSO: 993333 	822826
MARRONE: 663300
ARANCIONE: FF9900
azzurro: 174c4e

*/

@brand-primary:         lighten(#663300, 10%);
@brand-success:         #1e6622;
@brand-info:            #ffd97c;
@brand-warning:         #FF9900;
@brand-danger:          lighten(#822826, 25%);

@font-family-sans-serif:  "Roboto", Arial, sans-serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

@link-color:						lighten(#663300, 5%);;

.blog_title {
	text-align: center;
}
.navbar-static-first {
	background-color: #1e6622;
	border: none;
	border-radius: 0;
	font-size: 13px;
	height: 30px;
}
.navbar.navbar-static-first {
  margin-bottom: 0;
}
.navbar-static-top {
	background-color: #ffd97c;
}
.navbar-static-top .navbar-nav > .active > a, .navbar-static-top .navbar-nav a:hover, .navbar-static-top .navbar-nav a:focus {
  border-bottom: 5px solid #336633;
  color: #336633;
  background: none;
}
.navbar-static-top .navbar-nav > li > a:hover, .navbar-static-top .navbar-nav > li > a:focus {
  color: #336633;
}
.navbar-static-top .navbar-right {
	font-family: 'Yanone Kaffeesatz',Arial;
	margin: 21px 0 0 0;
}
.navbar-static-top .nav > li {
  margin: 0 5px;
}
.navbar-static-first .nav-language {
	float: left;
}
.navbar-static-top .navbar-nav > li > a {
	padding: 0 10px;
  text-transform: uppercase;
  line-height: 32px;
  font-size: 28px;
  font-weight: 300;
  border-bottom: 5px solid transparent;
  transition: all .6s;
	color: lighten(#663300, 5%);
}
.navbar-static-first li > a {
	padding: 0 10px;
	margin: 0 5px;
}
#custom-header {
	position: fixed;
  width: 100%;
	height: 110px;
  z-index: 10;
	background-color: rgba(255,255,255,0.8);
}
#wrapwrap>header+main>#wrap>:first-child, #wrapwrap>header+main>:not(#wrap) {
  padding-top: 110px;
}
#custom-header .nav-language > li {
	float:left;
	border-right: 1px solid #ffd97c;
	margin: 5px 0;
}
#custom-header .nav-language > li:last-of-type, #custom-header .nav-language > li:first-of-type {
	border-right: none;
}
#custom-header .nav-tools > li {
	float:right;
	margin: 5px 0;
}
.navbar-static-first li, .navbar-static-first li a {
	color: #ffd97c;
}
.navbar-static-first li a:hover {
	color: lighten(#ffd97c, 20%);
}
#custom-header .nav > li > a:hover, #custom-header .nav > li > a:focus {
	background: none;
}
#custom-header .navbar-brand {
	height: 65px;
	padding: 3px 0;
}
header#custom-header a.navbar-brand img {
	max-height: 70px;
}

#wrapwrap > footer {
	background-color: #1e6622;
	color: #ffd97c;
}
#wrapwrap > footer a {
	color: lighten(#ffd97c, 20%);
}
 #wrapwrap > footer .menu_title {
	 color: #ffd97c;
}
.fa {
	padding: 0 2px;
}
#wrapwrap h1, #wrapwrap h2, #wrapwrap h3, #wrapwrap h4, #wrapwrap h5, #wrapwrap h6 {
	font-family: 'Yanone Kaffeesatz',Arial;
}
h1 {
	text-transform: uppercase;
}
h2 {
	text-align: right;
	clear: both;
	padding: 0px 0px 4px 0;
	margin: 10px 0;
	text-transform: lowercase;
	color: #a67806;
	border-bottom: 1px solid  lighten(#ffd97c, 10%);;
}

.input-group-addon {
  background-color: #ffd97c;
}
.btn-default {
  background-color: #ffd97c;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background: #ffd97c;
  border-color: #ddd;
}
.label {
	margin: 3px;
}
.oe_product {
	border-right: 1px solid #ffd97c;
	border-bottom: 1px solid #ffd97c;
	border-top: none;
	border-left: none;
}
.oe_product_cart h5 {
  font-size: 18px;
}
.sitemap-menu li {
	font-size: 13px;
}
.sitemap-menu .menu_title {
	font-size: 22px;
	font-weight: 300;
	font-family: 'Yanone Kaffeesatz',Arial;
	text-transform: uppercase;
}
.sitemap-menu ul {
	margin-left: 10px;
}
.fa {
  padding: 0 5px;
}

.oe_product section {
	padding: 0px 15px 0px 10px;
	min-height: 45px;
	background: lighten(#ffd97c, 10%);
}
.oe_product .product_price {
  padding: 13px 0;
  position: relative;
  float: right;
}
.oe_product_cart h5 {
	font-size: 22px;
  float: left;
}
.oe_product_cart h5 a {
  font-weight: 300;
}

.btn-default {}
.btn-link {}
.btn-success  {
  //.button-variant(@custom-color; @custom-color-bg; @custom-color-border);
  //.button-variant(white; green; blue);
}
.btn-primary {}
.btn-info {}
.btn-warning {}
.btn-danger {}
